<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Admin Management System</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
	
<link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>

	 <nav class="sidebar">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="logo.jpg" alt="">
                </span>

                <div class="text logo-text">
                    <span class="name">Admin</span>
                    <span class="profession">Admin Mangement</span>
                </div>
            </div>

          
        </header>

        <div class="menu-bar">
            <div class="menu">

              <li class="search-box">
                    <i class='bx bx-search icon'></i>
                    <input type="text" placeholder="Search...">
                </li>

                <ul class="menu-links">
                    <li class="nav-link">
                        <a th:href="@{/Personnel}">
                            <i class='bx bx-hard-hat icon' style='color:rgba(0,0,0,0.6)'  ></i>
                            <span class="text nav-text">Personnel</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a th:href="@{/Client}">
                          <i class='bx bx-male icon' ></i>
                            <span class="text nav-text">Client</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a th:href="@{/Job}">
                           <i class='bx bx-briefcase icon'></i>
                            <span class="text nav-text">Job</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a th:href="@{/Pack}">
                            <i class='bx bx-package icon' style='color:rgba(0,0,0,0.6)' ></i>
                            <span class="text nav-text">Pack</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a th:href="@{/Plan}">
                            <i class='bx bx-wallet icon' ></i>
                            <span class="text nav-text">Plan</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a th:href="@{/Worktime}">
                            <i class='bx bx-time-five icon' style='color:rgba(0,0,0,0.6)' ></i>
                            <span class="text nav-text">Worktime</span>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="bottom-content">
                <li class="">
                    <a th:href="@{/login}">
                        <i class='bx bx-log-out icon' ></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>

             
                
            </div>
        </div>

    </nav>

    <section class="home">
    <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
    
        <div class = "container">
		<div class = "row">
			<div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
			<br>
				<h1 class = "text-center"> Ajout Pack </h1>
				<div class = "card-body">
					<form th:action="@{/Pack/add}" th:object = "${Pack}" method="POST">
						<div class ="form-group">
							<label> Pack Duree </label>
							<input
							type = "text"
							name = "duree"
							th:field = "*{duree}"
							class = "form-control"
							placeholder="Enter Pack duree" 
							/>
						</div>
						
						<div class ="form-group">
							<label> Pack Name </label>
							<input
							type = "text"
							name = "Name"
							th:field = "*{name}"
							class = "form-control"
							placeholder="Enter Pack name" 
							/>
						</div>
						
						<div class ="form-group">
							<label> Pack Price </label>
							<input
							type = "text"
							name = "price"
							th:field = "*{price}"
							class = "form-control"
							placeholder="Enter Pack price " 
							/>
						</div>
						
						
						
							<div class ="form-group">
							<label> Personnel Plan </label>
							<br>
						<select th:field="*{plan}">
						    <option th:each ="lst:${plans}" th:value="${lst.idPlan}" th:text="${lst.name}"></option>
						    
						</select>
						</div>
						
						<br> 
						
						<div class = "box-footer">
							<button type="submit" class = "btn btn-primary">
								Submit
							</button>
						</div>
					</form>
				
				</div>
			</div>
		</div>
	</div>
    </section>

    <script>
        const body = document.querySelector('body'),
      sidebar = body.querySelector('nav'),
      toggle = body.querySelector(".toggle"),
      searchBtn = body.querySelector(".search-box"),
      modeSwitch = body.querySelector(".toggle-switch"),
      modeText = body.querySelector(".mode-text");


toggle.addEventListener("click" , () =>{
    sidebar.classList.toggle("close");
})

searchBtn.addEventListener("click" , () =>{
    sidebar.classList.remove("close");
})

modeSwitch.addEventListener("click" , () =>{
    body.classList.toggle("dark");
    
    if(body.classList.contains("dark")){
        modeText.innerText = "Light mode";
    }else{
        modeText.innerText = "Dark mode";
        
    }
});
    </script>

	
</body>
</html>