rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <!-- custom css file link  -->
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    
    

</head>
<body>
    
<!-- header section starts      -->

<header class="header">

    <a href="#" class="logo"> <span>GYM</span></a>

    <div id="menu-btn" class="fas fa-bars"></div>

    <nav class="navbar">
        <a href="#home">Home</a>
        <a href="#about">About</a>
        <a href="#features">Activities</a>
        <a href="#pricing">pricing</a>
        <a href="#footer">Contact</a>
        <a href="#inscrire" class="contact">Sign In</a>
    </nav>

</header>

<!-- header section ends     -->

<!-- home section starts  -->

<section class="home" id="home">

    <div class="swiper home-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide slide" style="background: url(images/home-bg-1.jpg) no-repeat;">
                <div class="content">
                    <span>be strong, be fit</span>
                    <h3>Make yourself stronger than your excuses.</h3>
                    <a href="#inscrire" class="btn">get started</a>
                </div>
            </div>

            <div class="swiper-slide slide" style="background: url(images/home-bg-2.jpg) no-repeat;">
                <div class="content">
                    <span>be strong, be fit</span>
                    <h3>Make yourself stronger than your excuses.</h3>
                    <a href="#inscrire" class="btn">get started</a>
                </div>
            </div>

            <div class="swiper-slide slide" style="background: url(images/home-bg-3.jpg) no-repeat;">
                <div class="content">
                    <span>be strong, be fit</span>
                    <h3>Make yourself stronger than your excuses.</h3>
                    <a href="#inscrire" class="btn">get started</a>
                </div>
            </div>

        </div>

        <div class="swiper-pagination"></div>

    </div>

</section>

<!-- home section ends -->

<!-- about section starts  -->

<section class="about" id="about">

    <div class="image">
        <img src="images/about-img.jpg" alt="">
    </div>

    <div class="content">
        <span>about us</span>
        <h3 class="title">Every day is a chance to become better</h3>
        <p>Are you ready to take control of your health and fitness? Look no further than our gym! With state-of-the-art equipment, expert personal trainers, and a supportive community, we have everything you need to reach your fitness goals. Whether you're just starting out or looking to take your training to the next level, we've got you covered. Don't let another day pass by without taking steps towards a healthier and happier you. <a href="#inscrire" class="contact" style="color: #e74c3c">Join us</a> today and let's achieve greatness together!"</p>
        <div class="box-container">
            <div class="box">
                <h3><i class="fas fa-check"></i>body and mind</h3>
                <p>improve mental well-being and mental stress. take the first step towards a healthier, happier you.</p>
            </div>
            <div class="box">
                <h3><i class="fas fa-check"></i>healthy life</h3>
                <p>Living a healthy lifestyle is essential for both your physical and mental well-being.</p>
            </div>
            <div class="box">
                <h3><i class="fas fa-check"></i>strategies</h3>
                <p>sticking to a fitness plan can be challenging, but with the right strategies, it can be done successfully</p>
            </div>
            <div class="box">
                <h3><i class="fas fa-check"></i>workout</h3>
                <p>find the perfect workout to match your fitness level and goals.</p>
            </div>
        </div>
        
    </div>

</section>

<!-- about section ends -->

<!-- features section starts  -->

<section class="features" id="features">

    <h1 class="heading"> <span>Our Activities</span> </h1>

    <div class="box-container">

        <div class="box">
            <div class="image">
                <img src="images/f-img-1.jpg" alt="">
            </div>
            <div class="content">
                <img src="images/icon-1.png" alt="">
                <h3>body building</h3>
                <p>activities that involve the use of resistance training to develop 
                and increase muscle mass and overall physical appearance. </p>
            </div>
        </div>

        <div class="box second">
            <div class="image">
                <img src="images/yoga.png" alt="">
            </div>
            <div class="content">
                <img src="images/icon-yoga.png" alt="">
                <h3>Yoga</h3>
                <p>A practice that involves a combination of physical postures, breathing exercises, 
                and meditation and it's to promote physical, mental and spiritual well-being. </p>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="images/army.jpg" alt="">
            </div>
            <div class="content">
                <img src="images/icon-2.png" alt="">
                <h3>functional army</h3>
                <p>the resumption of Cross training exercises based on intense efforts for a refined silhouette and salient muscles.</p>
            </div>
        </div>
        <div class="box">
            <div class="image">
                <img src="images/aquagym.jpg" alt="">
            </div>
            <div class="content">
                <img src="images/icon_aquagym.png" alt="">
                <h3>Aqua gym</h3>
                <p>a form of exercise that is performed in a swimming pool.
                Jogging or running in the water and stretching exercises.</p>
            </div>
        </div>

        <div class="box second">
            <div class="image">
                <img src="images/boxe.jpg" alt="">
            </div>
            <div class="content">
                <img src="images/icon_boxe.png" alt="">
                <h3>Boxe & mma</h3>
                <p>a physically demanding sport that requires intense training, discipline, and dedication. 
                Training for boxing typically includes a strength training, and technique practice.</p>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="images/cardio.jpg" alt="">
            </div>
            <div class="content">
                <img src="images/icon-cardio.png" alt="">
                <h3>Cardio</h3>
                <p>a form of physical activity that increases the heart rate and breathing.
                 how to choose the right types of cardio for your fitness level.</p>
            </div>
        </div>

    </div>

</section>

<!-- features section ends -->
<section class="banner" id="banner">

    <div class="swiper-slide slide" style="background: url(images/banner.jpg) no-repeat;">
        <div class="client">
        	<span>+</span>
            <span th:text = "${NumClient}"></span>
            <p>CUSTOMER</p>
        </div>
        <div class="coach">
            <span>+</span>
            <span th:text = ${NumCoach}></span>
            <p>COACHS</p>
        </div>
    </div>
    <div class="container">
        <div class="numero">
        

        </div>
    </div>

</section>
<!-- pricing section starts  -->

<section class="pricing" id="pricing">

    <div class="information">
        <span>pricing plan</span>
        <h3>affordable pricing plan for your</h3>
        <p>With our comprehensive and personalized fitness plan, you will have the guidance and support you need to achieve your goals. Our expert personal trainers will work with you to create a plan tailored to your specific needs and fitness level. And with a variety of classes and state-of-the-art equipment, you'll never run out of options to keep your workouts interesting and challenging. Don't wait any longer to take the first step towards a healthier and happier you. Join us today and let's make it happen together with our unique fitness plan."</p>
    </div>

    <div class="plan basic">
        <h3>basic plan</h3>
        <div class="price"> [[${pack1[0]}]]<span>MAD</span><span>/mo</span></div>
        <div class="price"> [[${pack1[1]}]]<span>MAD</span><span>/3Mo</span></div>
        <div class="price"> [[${pack1[2]}]]<span>MAD</span><span>/6Mo</span></div>
        <div class="price"> [[${pack1[3]}]]<span>MAD</span><span>/year</span></div>
       <div class="list">
        <p> <i class="fas fa-check"></i> cardio exercise </p>
        <p> <i class="fas fa-check"></i> weight lifting </p>
        <p> <i class="fas fa-check"></i> overall results </p>
        <p> <i class="fa fa-times"></i> diet plans </p>
        <p> <i class="fa fa-times"></i> personal training </p>
       </div>
       <a href="#inscrire" class="btn">get started</a>
    </div>

    <div class="plan">
        <h3>premium plan</h3>
       <div class="price"> [[${pack2[4]}]]<span>MAD</span><span>/mo</span></div>
        <div class="price"> [[${pack2[5]}]]<span>MAD</span><span>/3Mo</span></div>
        <div class="price"> [[${pack2[6]}]]<span>MAD</span><span>/6Mo</span></div>
        <div class="price"> [[${pack2[7]}]]<span>MAD</span><span>/year</span></div>
       <div class="list">
        <p> <i class="fas fa-check"></i> cardio exercise </p>
        <p> <i class="fas fa-check"></i> weight lifting </p>
        <p> <i class="fas fa-check"></i> overall results </p>
        <p> <i class="fas fa-check"></i> diet plans </p>
        <p> <i class="fas fa-check"></i> personal training </p>
       </div>
       <a href="#inscrire" class="btn">get started</a>
    </div>

</section>


<!-- blogs section ends -->

<!-- footer section starts  -->
<section class="inscrire" id="inscrire">
    <h1 class="heading"> <span>Join us</span></h1>
    <div class="blok">
	    <div class="container">
	        <form th:action="@{/index/add}" th:object = "${Client}" method="POST">
	       		<div class="inputBox">
	                   <span>Username</span>
	                   <input type="text" maxlength="30" class="first-input" 
	                   		name = "username"
	                   		th:field = "*{username}"
							placeholder="Enter a Username ">
	            </div>
	            <div class="flexbox">
	                <div class="inputBox">
	                    <span>First Name</span>
	                    <input type="text" maxlength="30" class="first-input" 
	                    		name = "firstName"
	                    		th:field = "*{firstName}"
								placeholder="Enter your first name">
	                </div>
	                <div class="inputBox">
	                    <span>Last Name</span>
	                    <input type="text" maxlength="30" class="last-input"
	                   			 th:field = "*{lastName}"
	                    		name = "lastName"
	                    		placeholder="Enter your last name">
	                </div>
	            </div>
	            <div class="inputBox">
	                <span>Date of Birth</span>
	                <input type="date" class="card-holder-input" name = "date"
	                th:field = "*{date}"
	                	placeholder="Enter your Date of Birth">
	            </div>
	            <div class="inputBox">
	                <span>Address</span>
	                <input type="text" class="card-holder-input" placeholder="Enter your address" name = "addresse"
	                th:field = "*{adresse}">
	            </div>
	            <div class="inputBox">
	                <span>email</span>
	                <input type="email" class="card-holder-input" placeholder="Enter your email"
	                th:field = "*{email}">
	            </div>
	            <div class="inputBox">
	                <span>Phone</span>
	                <input type="tel" maxlength="14" class="card-holder-input" placeholder="Enter your Phone"
	                th:field = "*{phone}"  pattern="{0}[6-7][0-9]">
	            </div>
	            
	               
							
				<div class="flexbox">
	                <div class="inputBox">
	                    <span>Pack & Plan</span>
	                    <select  name="" id="" class="pack-input"  th:field="*{pack}">
	                    	<option value="plan" selected disabled>Select your pack</option>
	                    	<option th:each ="lst:${packs}" th:value="${lst.idPack}" th:text="${lst.name}"></option>
	                    </select>
	                </div>
	                <div class="inputBox">
	                    <span>WorkTime</span>
	                    <select name="" id="" class="pack-input" th:field="*{workTime}">
	                    	<option value="plan" selected disabled>Select a worktime</option>
							<option th:each ="lst:${worktimes}" th:value="${lst.idWorkTime}" th:text="${lst.dayOne}+' \ '+${lst.dayTwo}+' \ '+${lst.dayThree}"></option>
							    
						</select>
	                </div>
	            </div>
	            <!-- div class="flexbox">
	                <div class="inputBox">
	                    <span>Plan</span>
	                    <select name="" id="" class="plan-input">
	                    	<option value="plan" selected disabled>Select your plan</option>
	                    	<option th:each="option : ${options}" th:value="${option.name}" th:text="${option.name}"></option>
	                    </select>
	                    
	                </div>
	                <div class="inputBox">
	                    <span>Pack</span>
	                    <select name="" id="" class="pack-input">
	                        <option value="plan" selected disabled>Select your pack</option>
	                    </select>
	                </div>
	            </div -->
	            <input type="submit" value="submit" class="submit-btn">
	        </form>
	        
	    </div>
	    <div class="container image">
	            <img src="images/blog-4.jpg">
	     </div>
     </div>

</section>

<section class="footer" id="footer">

    <div class="box-container">

        <div class="box">
            <h3>quick links</h3>
            <a class="links" href="#home">home</a>
            <a class="links" href="#about">about</a>
            <a class="links" href="#features">features</a>
            <a class="links" href="#pricing">pricing</a>
            <a class="links" href="#trainers">contact</a>
        </div>

        <div class="box">
            <h3>opening hours</h3>
            <p> monday : <i> 7:00am - 10:30pm </i> </p>
            <p> tuesday : <i> 7:00am - 10:30pm </i> </p>
            <p> wednesday : <i> 7:00am - 10:30pm </i> </p>
            <p> friday : <i> 7:00am - 10:30pm </i> </p>
            <p> saturday : <i> 7:00am - 10:30pm </i> </p>
            <p> sunday : <i> closed </i> </p>
        </div>

        <div class="box">
            <h3>Contact Us</h3>
            <p> <i class="fas fa-phone"></i> +212-600-0000 </p>
            <p> <i class="fas fa-phone"></i> +212-500-0000 </p>
            <p> <i class="fas fa-envelope"></i> GYM@gmail.com </p>
            <p> <i class="fas fa-map"></i> Berrechid, Morocco - 400104 </p>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-linkedin"></a>
                <a href="#" class="fab fa-pinterest"></a>
            </div>
        </div>

    </div>

</section>












<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

<!-- custom js file link  -->
<script src="js/script.js"></script>

</body>
</html>